body{
    background-color: #dddddd;
}
#header > div{
    display: grid;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 3rem;
    padding-bottom: 2rem;
}
#teamname-input{
    font-family: "Times New Roman", Times, serif;
    font-size: 6rem;
    border: none;
    max-width: calc(100% - 10rem);
}
h1{font-size: 6rem;}
.subsection-container{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2rem;
    margin: 1rem 0;
}
h2{
    font-size: 3rem;
    padding: 1rem;
}
.subsection-container > div:nth-child(1){
    display: grid;
    grid-template-columns: 1fr max-content;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
}
.add-btn{
    font-size: 1.5rem;
    padding: 0.7rem 2rem;
    border-radius: 10px;
    border: black solid 2px;
    margin: 0 1rem;
    cursor: pointer;
}
#users p, #subteams p, #roles p, #configurations p{
    padding: 0.3rem 0.5rem;
    border-left: solid 1px black;
    border-right: solid 1px black;
}
.users, .subteams, .roles, .configuration{
    color: black;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    display: grid;
    margin: 0 1rem;
    border: black solid 2px;
    border-top: none;
}
.configuration{
    grid-template-columns: 1fr 3fr;
}
.users{
    grid-template-columns: 3fr 3fr 1fr 1fr 2fr;
}
.subteams, .roles, .role div{
    grid-template-columns: 7fr 1fr;
}
.configuration{
    grid-template-columns: 1fr 3fr;
}
.configuration:nth-child(1){
    border-top: black solid 2px;
}
.configuration input{
    padding: 0.5rem;
    border: none;
}
.template{
    border-top: black solid 2px;
}
.user, .role div{
    font-size: 1.3rem;
    display: grid;
    border: black solid 2px;
    border-top: none;
    margin: 0 1rem;
}
.user{
    grid-template-columns: 7fr 1fr 2fr;
}
.user a, .role{
    text-decoration: none;
    color: black;
}
.user:hover, .role div:hover{
    background-color: #eeeeee;
}
.user:hover select{
    background-color: #eeeeee;
}
.user-info{
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
}
.user > select{
    text-align: center;
    background-color: white;
    border: none;
}
.user-role-input, .user-tshirt-input{
    border-left: black solid 1px !important;
    border-right: black solid 1px !important;
}
.overlay-container{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}
.add-user-container, .add-role-container{
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
}
.add-user-container > div:nth-child(1){
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;    
}
.add-user-container > div > div{
    padding: 0 1rem;
}
.add-user-container > div > div:nth-child(1){
    border-right: solid 2px black;
}
.overlay-container h3{
    width: max-content;
    font-size: 2.5rem;
    padding: 0.7rem 1.5rem;
    margin: auto;
}
.individual-new-user-form > div, .file-upload-container, .bulk-new-users-fields > div, .new-role-form > div{
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}
#user-email-input, #user-t-shirt-input, #user-role-input, #users-email-column, #users-t-shirt-column, #new-role-input{
    padding: 0.35rem 1rem;
    font-size: 1.3rem;
}
#user-role-input{
    text-align: center;
    border: solid 1px black;
    background-color: white;
}
#submit-individual-user, #submit-bulk-users, #close-users-btn, #close-roles-btn, #submit-new-role{
    height: 1.5rem;
    width: max-content;
    background-color: blue;
    color: white;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin: 1rem auto;
    cursor: pointer;
}
#close-users-btn, #close-roles-btn{
    background-color: red !important;
    margin-bottom: 0;
}
.error{
    font-size: 1.3rem;
    color: red;
    width: max-content;
    margin: auto;
}
.add-roles-actions{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#delete-btn{
    background-color: red;
    color: #ffffff;
    font-size: 2rem;
    width: max-content;
    padding: 1rem 2rem;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
}