.subsection-element{
    grid-template-columns: 1fr 2fr;
}
.subsection-element:nth-child(1){
    border-top: black solid 2px;
}
#remove-btn{
    background-color: red;
    color: white;
    font-size: 1.8rem;
    width: max-content;
    padding: 1rem 2rem;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
}