#header-container.create-team-enabled{
    grid-template-columns: 3fr 1fr;
}
#header-container p{
    font-size: 2.5rem;
}
.create-team-prompt{
    font-size: 4rem !important;
    text-align: center;
}
#create-team-btn{
    background-color: blue;
    color: white;
    font-size: 2rem;
    width: max-content;
    padding: 1rem 2.5rem;
    border-radius: 1rem;
    margin: 1rem auto;
    cursor: pointer;
}
.template, .team{
    grid-template-columns: 7fr 1fr 1fr 1fr;
}
.team:hover{
    background: #eeeeee;
}
.create-team-form-container{
    background-color: #ffffff;
    padding: 3rem;
    border-radius: 1rem;
}
.create-team-form-container > p:nth-child(1){
    font-size: 3rem;
    padding: 1rem 2rem;
}
.input-label{
    font-size: 1.5rem !important;
    padding: 0.3rem;
}
#team-name-input{
    font-size: 2rem;
    width: calc(100% - 2rem - 4px);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: solid 2px black;
}
.actions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.actions > div{
    background-color: green;
    font-size: 2rem;
    color: white;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
}
#cancel-btn{
    background-color: red;
}