#header-container{
    grid-template-columns: 3fr 1fr;
}
h1{text-align: center;}
#countdown p{
    text-align: center;
    font-size: 2rem;
}
#countdown > p:nth-child(2){
    font-size: 3.3rem;
}
.tasks-header{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr max-content;
}
#new-task{
    font-size: 1.5rem;
    padding: 0.7rem 1.5rem;
    border-radius: 10px;
    border: solid 2px black;
    margin: 1rem 2rem;
    cursor: pointer;
}
.task{
    display: grid;
    font-size: 1.6rem;
    grid-template-columns: 1fr max-content max-content;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
    border-left: solid 7px red;
    margin: 0.5rem 1rem;
}
.task > p{
    padding: 0 1rem;
}
.task-progress{
    font-size: 1.3rem;
    text-align: center;
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-top: none;
    border-bottom: none;
}
.task > a{
    text-decoration: none;
    color: black;
    padding: 0.5rem 0.8rem;
}
.empty-message{
    text-align: center;
    font-size: 1.5rem;
    color: #777777;
    padding: 2rem;
}