.template, .profile{
    grid-template-columns: 2fr 2fr 2fr 1fr;
}
.profile:hover{
    background: #eeeeee;
}
.inputs-container{
    padding: 0.5rem 1rem;
}
.inputs-container > div{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.subsection-element:nth-child(1){
    border-top: 2px solid black;
}
.actions-container{
    width: max-content;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: max-content max-content;
    column-gap: 6rem;
    margin: auto;
}
.actions-container > div{
    background-color: blue;
    color: white;
    font-size: 1.8rem;
    width: max-content;
    padding: 1rem 2rem;
    border-radius: 10px;
    cursor: pointer;
}
#remove-btn{
    background-color: red;
}