#header-container{
    grid-template-columns: 1fr 1fr;
}
#search-input{
    width: calc(100% - 2rem);
    font-size: 2rem;
    padding: 0.5rem 1rem;
}
#search-btn{
    background-color: blue;
    font-size: 2rem;
    color: white;
    width: max-content;
    padding: 1rem 2.5rem;
    border-radius: 1rem;
    margin: 1rem auto;
    cursor: pointer;
}
.template, .filter{
    grid-template-columns: 7fr 1fr;
}
.filter:hover{
    background: #eeeeee;
}
