#rolename-input{
    font-family: "Times New Roman", Times, serif;
    font-size: 6rem;
    border: none;
}
.inputs-container{
    padding: 0.5rem 1rem;
}
.inputs-container > div{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.subsection-element:nth-child(1){
    border-top: solid 2px black;
}
#delete-btn{
    background-color: red;
    color: white;
    font-size: 1.8rem;
    width: max-content;
    padding: 1rem 2rem;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
}